[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BSW"]
	path = BSW
	url = https://github.com/uds-mf-imbei/bsw
[submodule "aRD"]
	path = aRD
	url = https://github.com/uds-mf-imbei/ard
